#acc2HeadingContent1 > h2 > .active{
    text-decoration: none;
    color: white;
  }
  #acc2HeadingContent2 > h2 > .active{
    text-decoration: none;
    color: white;
  }
  #acc2HeadingContent3 > h2 > .active{
    text-decoration: none;
    color: white;
  }
  #acc2HeadingContent4 > h2 > .active{
    text-decoration: none;
    color: white;
  }
  